Package: com.stark.autoflex
Name: autoflex
Version: 0.0.1
Architecture: iphoneos-arm64e
Description: An awesome Flex auto injection tweak!
Maintainer: Stark
Author: Stark
Section: Tweaks
Depends: firmware (>= 15.0)
