Package: com.hopeless.autoflex
Name: autoflex
Version: 0.0.1
iArchitecture: iphoneos-arm64
Description: An awesome MobileSubstrate tweak!
Maintainer: hopeless
Author: hopeless
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
